@model PaginatedList<Student>
@{
    ViewData["Title"] = "Student Details";
}

<h1 class="text-center">Student Details</h1>
<div class="container">
    <div class="row">
        @foreach (var student in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 100%;">
                    <img src="~/img/image.jpg" class="card-img-top" alt="Student Image">
                    <div class="card-body">
                        <h5 class="card-title">@student.StudentName</h5>
                        <p class="card-text">
                            <strong>Enrollments:</strong><br />
                            @if (student.Enrollments != null && student.Enrollments.Any())
                            {
                                <ul>
                                    @foreach (var enrollment in student.Enrollments)
                                    {
                                        <li>@enrollment.Course.CourseName</li>
                                    }
                                </ul>
                            }
                            else
                            {
                            <p>No enrollments</p>
                            }
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            @if (Model.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-pageIndex="1">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex - 1)">Previous</a>
                </li>
            }

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-pageIndex="@i">@i</a>
                </li>
            }

            @if (Model.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex + 1)">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-pageIndex="@Model.TotalPages">Last</a>
                </li>
            }
        </ul>
    </nav>
</div>
